body {
  background-color: #f2f2f2;
}

.signin-form {
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.signin-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.signin-form .btn {
  width: 100%;
}
